@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
}
@layer base {
  body {
    font-family: var(--font-sans);
    @apply text-gray-900 antialiased; 
  }
}